* {
    box-sizing: border-box;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
  }

  body {
    margin: 0;
  }

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    font-size: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 15px;
}

a {
  text-decoration: none;
}

li{
    margin-right: 20px;
}

.ghost-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.ghost-articles div{
  margin: 20px;
  background-color: #313131;
}

.ghost-articles-body{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #313131;
}

.ghost-1 {
  border: 1px solid rgb(105, 95, 220);
  border-radius: 10px;
  background-color: #313131;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px
}

.ghost-1 p {
  font-size: 18px;
}

.ghost-2 {
  border: 1px solid rgb(105, 95, 220);
  border-radius: 10px;
  background-color: #313131;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px
}

.ghost-2 p {
  font-size: 18px;
}

.ghost-3 {
  border: 1px solid rgb(105, 95, 220);
  border-radius: 10px;
  background-color: #313131;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px
}

.ghost-3 p {
  font-size: 18px;
}